html, body {
  width: 55%;
  height: 55%;  
}

button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  justify-content: flex-start;
}

.item {
  width: 150px; 
  height: 140px;
  border: 1px solid black;
  margin: 1px; /* 1px의 간격을 추가 */
  box-sizing: border-box; /* padding과 border를 포함하도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}